.bignum {

    padding-bottom: 36px;

    &__title {
        text-align: center;
    }

    &__form {
        display: flex;
        justify-content: center;
        gap: 38px;
        padding: 36px 0px 36px 0px;
    }

    &__input {
        color: #7E7E7E;
        font-size: 12px;
        padding: 10px 20px;
        align-items: flex-start;
        gap: 10px;
        border-radius: 20px;
        background: #D7D7D7;
        display: inline-flex;
        border: none;
        text-align: center;
        align-items: flex-start;
        box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
    }

    &__text {
        text-align: center;
        margin-bottom: 36px;
    }

    &__line {
        width: 100%;
        max-width: 536px;
        height: 1px;
        background-color: #000;
        margin: 0 auto;
    }
}