.dinosaur {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 36px;

    &__title {
        color: $light-text-color;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        padding-bottom: 36px;
    }


    &__box {
        position: relative;
        width: 800px;
        height: 200px;
        border: 2px solid $light-choose-slide;
        background-color: $btn-svg-color;
        margin: 0 auto 36px;
    }

    &__platform {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 15px;
        background-color: $light-choose-slide;
    }

    &__dino {
        position: absolute;
        bottom: 15px;
        left: 10px;
        width: 44px;
        height: 44px;
        background-image: url("../../img/1x/dino/dino@1x.webp");
        background-size: contain;
        background-repeat: no-repeat;
    }

    &__cactus {
        position: absolute;
        bottom: 15px;
        right: 0;
        width: 34px;
        height: 50px;
        background-image: url("../../img/1x/dino/cactus@1x.webp");
        background-size: contain;
        background-repeat: no-repeat;
    }

    &__line {
        width: 100%;
        max-width: 536px;
        height: 1px;
        background-color: $light-text-color;
        margin: 0 auto;

    }
}


body.dark .dinosaur{ 
       &__title {
        color: $dark-text-color;

    }


    &__box {
        border: 2px solid $dark-choose-slide;
                background-color: $dark-bg-gray-color;

    }

    &__platform {
        background-color: $dark-input-color;
    }



    &__line {
        background-color: $dark-text-color;

    }
}