.header {
    padding: 21px 0;
    background-color: $light-body-bg-color;

    & .container {
        display: flex;
        align-items: center;
    }

    &__logo {}

    &__icon {}

    &__nav {
        margin-left: 81px;
    }

    &__list {
        display: flex;
        align-items: center;
        gap: 50px;
    }

    &__item {
        position: relative;
    }

    &__select {
        border: none;
        padding: 0;
        color: $light-text-color;
        font-size: 12px;
        font-weight: 400;
        display: flex;
        gap: 6px;
        align-items: end;
    }

    &__arrow {
        fill: none;
        stroke: $light-text-color;
        box-sizing: content-box;
        padding-bottom: 3px;
    }

    &__sublist {
        position: absolute;
        top: 48px;
        border: 1px solid $light-text-color;
        border-top: none;
        background: $light-body-bg-color;
        left: 50%;
        transform: translate(-50%, 0);
        width: 160px;
        display: flex;
        flex-direction: column;
        border-radius: 0px 0px 20px 20px;
        overflow: hidden;

        &.is-hidden {
            opacity: 0;
            pointer-events: none;
        }
    }

    &__subitem {
        padding: 10px 0;
        text-align: center;
        color: $light-text-color;
        font-size: 12px;
        font-weight: 400;
        cursor: pointer;
        background-color: $light-body-bg-color;

        &:hover {
            background-color: $light-interactiv;
        }
    }

    &__link {
        color: $light-text-color;
        font-size: 12px;
        font-weight: 400;
    }

    &__btn {
        margin-left: auto;
        background-color: $bg-toogle-btn;
        width: 40px;
        border-radius: 11px;
    }

    &__wrapper {
        width: 20px;
        height: 20px;
        background-color: $light-body-bg-color;
        border: 0.5px solid $light-text-color;
        border-radius: 50%;
        margin-left: 0;
        padding: 1px;

        body.dark & {
            background-color: $bg-black-color;
            margin-left: 20px;
            transform: rotate(720deg);
        }
    }


    &__img {}

    &__text {
        color: $light-text-color;
        font-size: 12px;
        font-weight: 400;
        margin-left: 51px;
    }

    &__name {}
}

body.dark .header {
    background-color: $dark-body-bg-color;

    &__select {
        color: $dark-text-color;
    }

    &__arrow {
        stroke: $dark-text-color;
    }

    &__sublist {
        border: 1px solid $dark-text-color;
        background: $dark-body-bg-color;
    }

    &__subitem {
        color: $dark-text-color;
        background-color: $dark-body-bg-color;

        &:hover {
            background-color: $dark-interactiv;
        }
    }

    &__link {
        color: $dark-text-color;
    }

    &__btn {
        background-color: $bg-toogle-btn;
    }

    &__wrapper {
        background-color: $bg-black-color;
        border: 0.5px solid $bg-black-color;
    }

    &__text {
        color: $dark-text-color;
    }
}