.hello {
    width: 100%;
    max-width: 576px;
    padding: 46px 66px;
    background-color: $light-body-bg-color;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &__close {
        line-height: 0;
        position: absolute;
        right: 30px;
        top: 30px;
    }

    &__dagger {
        stroke: $light-text-color;
    }

    &__title {
        color: $light-text-color;
        text-align: center;
        font-size: 12px;
        font-weight: 400;
    }

    &__desc {
        color: $light-text-color;
        text-align: center;
        font-size: 12px;
        font-weight: 400;
        margin-bottom: 42px;
    }

    &__form {}

    &__label {
        display: block;
        color: $light-text-color;
        text-align: center;
        font-size: 12px;
        font-weight: 400;
    }

    &__input {
        display: block;
        padding: 10px;
        width: 169px;
        border: none;
        background-color: $light-input-color;
        border-radius: 20px;
        margin: 18px auto 0;
        color: $light-text-color;
        font-size: 12px;
        font-weight: 400;

        &::placeholder {
            color: $light-placeholder-color;
            font-size: 12px;
            font-weight: 400;
        }
    }

    &__btn {
        padding: 10px 20px;
        border-radius: 20px;
        background-color: $light-text-color;
        box-shadow: $light-shadow;
        color: $btn-svg-color;
        font-size: 12px;
        font-weight: 400;
        margin: 18px auto 0;
    }

    &__icon {
        position: absolute;
        width: 30px;
        height: 30px;

        &--sword {
            left: 41px;
            bottom: 132px;
        }

        &--puzzel {
            left: 85px;
            bottom: 56px;
        }

        &--game {
            right: 85px;
            bottom: 56px;
        }

        &--layout {
            right: 41px;
            bottom: 132px;
        }
    }

}

body.dark .hello {
    background-color: $dark-body-bg-color;

    &__dagger {
        stroke: $dark-text-color;
    }

    &__title {
        color: $dark-text-color;
    }

    &__desc {
        color: $dark-text-color;
    }

    &__label {
        color: $dark-text-color;
    }

    &__input {
        background-color: $dark-input-color;
        color: $dark-text-color;

        &::placeholder {
            color: $dark-placeholder-color;
        }
    }

    &__btn {
        background-color: $bg-black-color;
        box-shadow: $dark-shadow;
        color: $btn-svg-color;
    }
}