.number {
    padding-bottom: 36px;

    &__title {
        color: #000;
        font-family: "Montserrat Alternates";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
        margin-bottom: 46px;
    }

    &__form {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 149px;
        margin-bottom: 46px;
    }

    &__input {
        border-radius: 20px;
        background: #D7D7D7;
        display: inline-flex;
        padding: 10px 45px 10px 10px;
        align-items: flex-start;
        gap: 10px;
    }

    &__line {
        width: 536px;
        height: 0px;
        margin: 0 auto;
    }

    &__input {
        display: inline-flex;
        padding: 10px;
        align-items: flex-start;
        border-radius: 20px 0 0 20px;
        background: $input-color;
        width: 180px;
        border: none;

        &::placeholder {
            color: $placeholder-color;
            font-size: 12px;
            font-weight: 400;
        }
    }

    &__text {
        color: $green-color;
        text-align: right;
        font-size: 12px;
        font-weight: 400;
    }
}