.number {
    padding-bottom: 36px;

    &__title {
        color: $light-text-color;
        font-family: "Montserrat Alternates";
        font-size: 13px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        text-align: center;
        margin-bottom: 30px;

        @media screen and (min-width: 768px) {}

        @media screen and (min-width: 1200px) {
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 36px;
        }
    }

    &__form {
        width: 576px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto 36px;
    }

    &__line {
        width: 536px;
        height: 1px;
        margin: 0 auto;
        background: $light-text-color;
    }

    &__input {
        width: 115px;
        padding: 10px;
        border-radius: 20px 0 0 20px;
        background: $light-input-color;
        border: none;

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        &::placeholder {
            color: $light-placeholder-color;
            font-size: 12px;
            font-weight: 400;
        }
    }

    &__text {
        color: $light-green-color;
        text-align: right;
        font-size: 12px;
        font-weight: 400;
    }

    &__button {
        padding: 10px;
        border-radius: 0px 20px 20px 0px;
        background: $bg-black-color;
    }

    &__svg {
        fill: $btn-svg-color;
    }

    &__box {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__text.error {
        color: $light-red-color;
    }
}

body.dark .number {
    &__title {
        color: $dark-text-color;
    }

    &__line {
        background: $dark-text-color;
    }

    &__input {
        background: $dark-input-color;

        &::placeholder {
            color: $dark-placeholder-color;
        }
    }

    &__text {
        color: $dark-green-color;
    }

    &__text.error {
        color: $dark-red-color;
    }
}