.rsp {
    padding-bottom: 36px;

    &__title {
        color: #000;
        font-family: "Montserrat Alternates";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
        margin-bottom: 46px;
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 107px;
        gap: 38px;
    }

    &__button {
        padding: 10px;
    }

    &__img {
        width: 40px;
        height: 40px;
        border-radius: 11px;
    }

    &__btn {
        color: #FFF;
        font-family: "Montserrat Alternates";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border-radius: 20px;
        background: #000;
        padding: 10px 20px;
        gap: 10px;
        margin: 0 auto;
        margin-bottom: 46px;
        width: max-content;
    }

    &__line {
        width: 536px;
        height: 0px;
        stroke-width: 1px;
        stroke: #000;
        margin: 0 auto;
    }
}