.rsp {
    padding-bottom: 36px;

    &__title {
        color: $light-text-color;
        font-family: "Montserrat Alternates";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
        margin-bottom: 46px;
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 36px;
        gap: 38px;
    }

    &__button {
        padding: 10px;
        background-color: $bg-black-color;
        border-radius: 20px;
    }

    &__img {
        width: 40px;
        height: 40px;
    }

    &__result {
        color: $light-green-color;
        font-size: 12px;
        font-weight: 400;
        text-align: center;
        margin-bottom: 36px;
    }

    &__btn {
        color: $btn-svg-color;
        font-family: "Montserrat Alternates";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border-radius: 20px;
        background: $bg-black-color;
        padding: 10px 20px;
        gap: 10px;
        margin: 0 auto;
        margin-bottom: 46px;
        width: max-content;
    }

    &__line {
        width: 536px;
        height: 1px;
        stroke-width: 1px;
        stroke: $light-text-color;
        margin: 0 auto;
    }
}

body.dark .rsp {
    &__title {
        color: $dark-text-color;
    }

    &__result {
        color: $dark-green-color;
    }

    &__line {
        stroke: $dark-text-color;
    }
}