.subscribe {
    width: calc(100% - 30px);
    max-width: 463px;
    min-height: 245px;
    background-color: $light-body-bg-color;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 83px;

    &__close {
        position: absolute;
        right: 30px;
        top: 30px;
        line-height: 0;
    }

    &__dagger {
        stroke: $light-text-color;
    }

    &__title {
        color: $light-text-color;
        text-align: center;
        font-size: 20px;
        font-weight: 400;
    }

    &__icon {
        position: absolute;
        width: 30px;
        height: 30px;

        &--sword {
            left: 20px;
            bottom: 90px;

            @media screen and (min-width: 440px) {
                left: 43px;
                bottom: 146px;
            }
        }

        &--puzzel {
            left: 87px;
            bottom: 70px;
        }

        &--game {
            right: 87px;
            bottom: 70px;
        }

        &--layout {
            right: 20px;
            bottom: 90px;

            @media screen and (min-width: 440px) {
                right: 43px;
                bottom: 146px;
            }
        }
    }
}

body.dark .subscribe {
    background-color: $dark-body-bg-color;

    &__dagger {
        stroke: $dark-text-color;
    }

    &__title {
        color: $dark-text-color;
    }
}