.team {
  padding-bottom: 36px;

  &__title {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    text-align: center;
  }

  &__name {
    color: #000;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
  }

  &__work {
    color: #000;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
  }

  &__img {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    background: #D9D9D9;
  }

  &__list {
    display: flex;
    justify-content: center;
    gap: 55px;
  }


  &__slider {
    display: flex;
    align-items: center;
    padding: 36px 0;
  }

  &__line {
    width: 100%;
    max-width: 536px;
    height: 1px;
    background-color: #000;
    margin: 0 auto;
  }

  &__checked {
    width: 100%;
    max-width: 30px;
    height: 4px;
    background-color: black;
    border-radius: 10px 10px 10px 10px;
  }

  &__line1 {
    width: 100%;
    max-width: 18px;
    height: 3px;
    background-color: grey;
    border-radius: 10px 10px 10px 10px;
  }

  &__box1 {
    display: flex;
    justify-content: center;
    gap: 6px;
    padding-bottom: 36px;
  }



}