<section class="bignum">
    <h1 class="bignum__title">Ведіть три числа</h1>
    <ul class="bugnum__list">
        <li class="bignum__item">
            <input
            type="number"
            class="bignum__input"
            placeholder="Ведіть число">
        </li>
        <li class="bignum__item">
            <input
            class="bignum__input"
            type="number"
            placeholder="Ведіть число">
        </li>
        <li class="bignum__item">
            <input
            class="bignum__input"
            type="number"
            placeholder="Ведіть число">
        </li>
    </ul>
    <p class="bignum__text"></p>
    <hr>
</section>