<section id="8" class="bignum">
    <h2 class="bignum__title">Ведіть три числа</h2>
        <form class="bignum__form">
            <input
            type="number"
            class="bignum__input"
            id="number-first"
            placeholder="Ведіть число">

            <input
            class="bignum__input"
            type="number"
            id="number-second"
            placeholder="Ведіть число">

            <input
            class="bignum__input"
            type="number"
            id="number-three"
            placeholder="Ведіть число">
        </form>

    <p class="bignum__text">
        Найбільше число, яке ви ввели -
        <span class="bignum__span"> (число) </span>
    </p>
    <div class="bignum__line"></div>

<script src="../js/choose-big-number.js"></script>

</section>