<section id="4" class="calculator">
    <h2 class="calculator__title">Калькулятор</h2>
    <form class="calculator__form">
        <label class="calculator__label">
            <input type="number" class="calculator__input" id="firstNum" placeholder="Введіть число">
        </label>
        <ul id="calculatorList" class="calculator__list">
            <li id="calculatorItem"  class="calculator__item">
                <button class="calculator__button" id="add">
                    +
                </button>
            </li>
            <li id="calculatorItem" class="calculator__item">
                <button id="multiply" class="calculator__button">
                    *
                </button>
            </li>
            <li id="calculatorItem" class="calculator__item">
                <button class="calculator__button" id="subtract">
                    -
                </button>
            </li>
            <li id="calculatorItem" class="calculator__item">
                <button class="calculator__button" id="divide">
                    /
                </button>
            </li>
        </ul>
        <label class="calculator__label">
            <input type="number" class="calculator__input" id="secondNum" placeholder="Введіть число">
        </label>
        <button class="calculator__button">
            =
        </button>
        <p id="result" class="calculator__result">Результат</p>

    </form>

    <div class="calculator__line"></div>
</section>