<section id="4" class="calculator">
    <h2 class="calculator__title">Калькулятор</h2>
    <form class="calculator__form">
        <label class="calculator__label">
            <input type="number" class="calculator__input" id="firstNum" placeholder="Введіть число">
        </label>
        <ul class="calculator__list">
            <li class="calculator__item">
                <button class="calculator__button">
                    +
                </button>
            </li>
            <li class="calculator__item">
                <button class="calculator__button">
                    *
                </button>
            </li>
            <li class="calculator__item">
                <button class="calculator__button">
                    -
                </button>
            </li>
            <li class="calculator__item">
                <button class="calculator__button">
                    /
                </button>
            </li>
        </ul>
        <label class="calculator__label">
            <input type="number" class="calculator__input" id="secondNum" placeholder="Введіть число">
        </label>
        <button class="calculator__button">
            =
        </button>
        <p class="calculator__result">Результат</p>

    </form>

    <hr class="calculator__line">
</section>