<section class="calculator">
    <h2 class="calculator__title">Калькулятор</h2>
    <ul>
        <form action="">
            <li>
                <input type="number" placeholder="Введіть число">
                <img src="" alt="">
                <img src="" alt="">
                <img src="" alt="">
                <img src="" alt="">
            </li>
            <li>
                <input type="number" placeholder="Введіть число">
                <img src="" alt="">
            </li>
            <li>
                <input type="text" placeholder="Результат">
            </li>
        </form>
    </ul>
    <hr class="calculator__line">
</section>