<section class="dinosaur" id="6">
    <h2 class="dinosaur__title">Google динозавр</h2>
    <div class="dinosaur__box">
        <div class="dinosaur__platform"></div>
        <div class="dinosaur__dino" id="dino"></div>
        <div class="dinosaur__cactus" id="cactus"></div>
    </div>
    <div class="dinosaur__line"></div>
    <button class="dinosaur__bth" id="restartButton">Перезапустить игру</button>
     <button id="endButton" class="dinosaur__end" >Закончить игру</button>
        <p class="dinosaur__text" id="instruction">Нажмите "ЛКМ" для прыжка</p>
</section>