<section id="7" class="football">
  <h2 class="football__title">Футбол</h2>
  <div id="football-field" class="football__field">
    <p id="football-count" class="football__count">0</p>
    <picture>
      <source
        srcset="
          ./img/1x/football/ball@1x.webp 1x,
          ./img/2x/football/ball@2x.webp 2x
        "
      />
      <img
        id="football-ball"
        class="football__ball"
        width="50"
        height="50"
        src="./img/1x/football/ball@1x.webp 1x"
        alt="М'ячик"
      />
    </picture>
    <picture>
      <source
        srcset="
          ./img/1x/football/football-gates@1x.webp 1x,
          ./img/2x/football/football-gates@2x.webp 2x
        "
      />
      <img
        id="football-gates"
        class="football__img"
        width="50"
        height="50"
        src="./img/1x/football/football-gates@1x.webp 1x"
        alt="Ворота"
      />
    </picture>
  </div>
  <div class="football__line"></div>
</section>
