<footer class="footer">
  <div class="container">
    <a href="./index.html" class="footer__logo">
      <svg class="footer__icon" width="165" height="70">
        <use href=""></use>
      </svg>
    </a>
    <ul class="footer__list">
      <li class="footer__item">
        Тел:
        <a href="tel:+381234567890" class="footer__link">+38 (123) 456 78 90</a>
      </li>
      <li class="footer__item">
        E-Mail:
        <a href="mailto:codingmagic@gmail.com" class="footer__link">
          codingmagic@gmail.com
        </a>
      </li>
      <li class="footer__item">
        Facebook:
        <a
          target="_blank"
          href="https://www.facebook.com/?locale=uk_UA"
          class="footer__link"
        >
          CodingMagic
        </a>
      </li>
      <li class="footer__item">
        Twitter:
        <a target="_blank" href="https://x.com/?lang=ru-" class="footer__link">
          CodingMagic
        </a>
      </li>
      <li class="footer__item">
        Instagram:
        <a
          target="_blank"
          href="https://www.instagram.com/"
          class="footer__link"
        >
          CodingMagic
        </a>
      </li>
    </ul>
    <form class="footer__form">
      <div class="footer__wrapper">
        <label class="footer__label">
          <input
            type="email"
            required
            placeholder="Ваша ел. адреса..."
            id="footer-input"
            class="footer__input"
          />
        </label>
        <button class="footer__btn">Підписатись</button>
      </div>
      <p class="footer__info">
        *Підписавшись, Ви зможете ортимувати інформацію про новинки на сайті
      </p>
    </form>
  </div>
</footer>
