<footer class="footer">
  <div class="container">
    <a href="./index.html" class="footer__logo">
      <svg class="footer__icon" width="165" height="70">
        <use href=""></use>
      </svg>
    </a>
    <ul class="footer__list">
      <li class="footer__item">Тел: +38 (123) 456 78 90</li>
      <li class="footer__item">E-Mail: codingmagic@gmail.com</li>
      <li class="footer__item">Facebook: CodingMagic</li>
      <li class="footer__item">Twitter: CodingMagic</li>
      <li class="footer__item">Instagram: CodingMagic</li>
    </ul>
    <form class="footer__form">
      <div class="footer__wrapper">
        <label class="footer__label">
          <input
            type="email"
            required
            placeholder="Ваша ел. адреса..."
            id="footer-input"
            class="footer__input"
          />
        </label>
        <button class="footer__btn">Підписатись</button>
      </div>
      <p class="footer__info">
        *Підписавшись, Ви зможете ортимувати інформаццію про новинки на сайті
      </p>
    </form>
  </div>
</footer>
