<section id="7" class="football">
  <h2 class="football__title">Футбол</h2>
  <div id="football-field" class="football__field">
    <div data-football="backdrop" class="football__backdrop">
      <button data-football="play" class="football__play">PLay now</button>
    </div>
    <div data-football="end" class="football__backdrop is-hidden">
      <p class="football__play">Ти забив <span id="football-output"></span> голів</p>
      <button data-football="restart" class="football__play">Restart</button>
    </div>
    <p id="football-count" class="football__count">0</p>
    <p id="football-time" class="football__time">0:30</p>
    <picture>
      <source
        srcset="
          ./img/1x/football/ball@1x.webp 1x,
          ./img/2x/football/ball@2x.webp 2x
        "
      />
      <img
        id="football-ball"
        class="football__ball"
        width="50"
        height="50"
        src="./img/1x/football/ball@1x.webp 1x"
        alt="М'ячик"
      />
    </picture>
    <picture>
      <source
        srcset="
          ./img/1x/football/football-gates@1x.webp 1x,
          ./img/2x/football/football-gates@2x.webp 2x
        "
      />
      <img
        id="football-gates"
        class="football__img"
        width="50"
        height="50"
        src="./img/1x/football/football-gates@1x.webp 1x"
        alt="Ворота"
      />
    </picture>
  </div>
  <p class="football__info">Почніть гру та забийте як найбільше голів</p>
  <div class="football__line"></div>
</section>
