<section class="fruit">
  <h2 class="fruit__title">Падаючі фрукти</h2>
  <div id="fruit-block" class="fruit__block">
    <p id="fruit-score" class="fruit__score">0</p>
    <div data-fruit="backdrop" class="fruit__backdrop">
      <button type="button" data-fruit="play" class="fruit__play">Play now</button>
    </div>
    <div data-fruit="over" class="fruit__backdrop is-hidden">
      <p class="fruit__play">Game over</p>
    </div>
    <div data-fruit="win" class="fruit__backdrop is-hidden">
      <p class="fruit__play">You win</p>
    </div>
    <svg id="red-apple" class="fruit__apple" width="40" height="44">
      <use href="./svg/icons.svg#red-apple"></use>
    </svg>
    <svg id="gold-apple" class="fruit__apple" width="40" height="44">
      <use href="./svg/icons.svg#gold-apple"></use>
    </svg>
    <svg id="green-apple" class="fruit__apple" width="40" height="44">
      <use href="./svg/icons.svg#green-apple"></use>
    </svg>
    <picture>
      <source
        srcset="
          ./img/1x/fruit/basket@1x.webp 1x,
          ./img/2x/fruit/basket@2x.webp 2x
        "
      />
      <img
        id="basket"
        class="fruit__basket"
        width="30"
        height="30"
        src="./img/1x/fruit/basket@1x.webp 1x"
        alt="Меч"
      />
    </picture>
  </div>
  <div class="fruit__line"></div>
</section>
