<header class="header">
  <div class="container">
    <a href="./index.html" class="header__logo">
      <svg class="header__icon" width="165" height="70">
        <use href=""></use>
      </svg>
    </a>
    <nav class="header__nav">
      <ul class="header__list">
        <li class="header__item">
          <select class="header__select" id="tasks-select">
            <option hidden checked value="base">Інтерактив</option>
            <option value="numerical">Числовий</option>
            <option value="game">Ігровий</option>
            <option value="acquaintance">Ознайомчий</option>
          </select>
        </li>
        <li class="header__item">
          <a href="" class="header__link">Наша команда</a>
        </li>
        <li class="header__item">
          <a href="" class="header__link">Контакти</a>
        </li>
      </ul>
    </nav>
    <button class="header__btn" id="theme-btn">
      <span class="header__wrapper"
        ><img src="" alt="" class="header__img"
      /></span>
    </button>
    <p class="header__text">
      Вітаємо, <span class="header__name" id="user-name"></span>!
    </p>
  </div>
</header>
