<section class="rsp">
        <h2 class="rsp__title">Камінь - ножиці - папір</h2>
        <ul class="rsp__list">
                <li class="rsp__item">
                        <button class="rsp__button">
                                <img class="rsp__img" src="../img/1x/rps/stone@1x.webp" alt="stone">
                        </button>
                </li>
                <li class="rsp__item">
                        <button class="rsp__button">
                                <img class="rsp__img" src="../img/1x/rps/scissors 1.jpg" alt="scissors">
                        </button>
                </li>
                <li class="rsp__item">
                        <button class="rsp__button">
                                <img class="rsp__img" src="../img/1x/rps/paper@1x.webp" alt="paper">
                        </button>
                </li>
        </ul>
        <p class="rsp__btn">Варіант комп’ютера</p>
        <hr class="rsp__line">
</section>