<section id="3" class="rsp">
  <h2 class="rsp__title">Камінь - ножиці - папір</h2>
  <div class="rsp__cont">
    <ul class="rsp__list">
      <li class="rsp__item">
        <button class="rsp__button">
          <picture>
            <source srcset="
              ./img/1x/rps/stone@1x.webp 1x,
              ./img/2x/rps/stone@2x.webp 2x
            " />
            <img class="rsp__img" width="40" height="40" src="./img/1x/rps/stone@1x.webp 1x" alt="Камінь" />
          </picture>
        </button>
      </li>
      <li class="rsp__item">
        <button class="rsp__button">
          <picture>
            <source srcset="
              ./img/1x/rps/scissors@1x.webp 1x,
              ./img/2x/rps/scissors@2x.webp 2x
            " />
            <img class="rsp__img" width="40" height="40" src="./img/1x/rps/scissors@1x.webp 1x" alt="Ножиці" />
          </picture>
        </button>
      </li>
      <li class="rsp__item">
        <button class="rsp__button">
          <picture>
            <source srcset="
              ./img/1x/rps/paper@1x.webp 1x,
              ./img/2x/rps/paper@2x.webp 2x
            " />
            <img class="rsp__img" width="40" height="40" src="./img/1x/rps/paper@1x.webp 1x" alt="Папір" />
          </picture>
        </button>
      </li>
    </ul>
    <div class="rsp__box">
      <p class="rsp__text">Рахунок:</p>
      <p class="rsp__text">Комп’ютер - 0</p>
      <p class="rsp__text">Ви - 0</p>
    </div>
  </div>

  <p class="rsp__result">Ви виграли раунд!</p>
  <p class="rsp__btn">Варіант комп’ютера</p>
  <div class="rsp__line"></div>
</section>