<section class="scientist">
  <div class="container">
    <h2 class="scientist__title">Обери вченого/их</h2>
    <ul class="scientist__list" id="scientist-list"></ul>
    <ul class="scientist__filters">
      <li class="scientist__filter">Які вчені народилися в 19 ст.</li>
      <li class="scientist__filter">Знайти рік народження Albert Einshtein</li>
      <li class="scientist__filter">Відсортувати вчених за алфавітом</li>
      <li class="scientist__filter">
        Знайти вчених, прізвища яких починаються на на літеру “С”
      </li>
      <li class="scientist__filter">
        Відсортувати вчених за кількістю прожитих років
      </li>
      <li class="scientist__filter">
        Видалити всіх вчених, ім’я яких починається на “А”
      </li>
      <li class="scientist__filter">
        Знайти вченого, який народився найпізніше
      </li>
      <li class="scientist__filter">
        Знайти вченого, який прожив найдовше і вченого, який прожив найменше
      </li>
      <li class="scientist__filter">
        Знайти вчених, в яких співпадають перші літери імені і прізвища
      </li>
    </ul>
  </div>
</section>
