<div data-subscribe-backdrop class="backdrop is-hidden">
  <div class="subscribe">
    <button data-subscribe-close class="subscribe__close">
      <svg class="subscribe__dagger" width="15" height="15">
        <use href=""></use>
      </svg>
    </button>
    <h2 class="subscribe__title">Дякую за підписку!</h2>
    <svg class="subscribe__icon subscribe__icon--sword" width="30" height="30">
      <use href=""></use>
    </svg>
    <svg class="subscribe__icon subscribe__icon--puzzel" width="30" height="30">
      <use href=""></use>
    </svg>
    <svg class="subscribe__icon subscribe__icon--game" width="30" height="30">
      <use href=""></use>
    </svg>
    <svg class="subscribe__icon subscribe__icon--layout" width="30" height="30">
      <use href=""></use>
    </svg>
  </div>
</div>
