<section class="time">
   <div class="container">
    <h1 class="time__title"></h1>
    <div class="team__slider">
        <button class="team__bth">
            <!-- <svg></svg> -->
        </button>
        <ul class="team__list">
            <li class="team__item">
                <h2 class="team_name">Анна Гаврилова</h2>
                <!-- <img class="team__img" src=" " alt=""> -->
                 <p class="team__work">Team Lead</p>
            </li>
            <li class="team__item">
                 <h2 class="team__name">Єгор Голощапов</h2>
                 <!-- <img class="team__img" src="" alt=""> -->
                 <p class="team__work">Scrum Master</p>
            </li>
            <li class="team__item">
                <h2 class="team__name">Івасюк Руслан</h2>
                <!-- <img class="team__img" src="../svg/ruslan.jpg" alt="ruslan"> -->
                 <p class="team__work">Developer</p>
            </li>
        </ul>
        <button class="team__bth">
            <!-- <svg></svg> -->
        </button>
    </div>
   </div> 
</section>