<section class="time">
  <h2 class="time__calculator">Калькулятор часу</h2>
  <div class="time__box">
    <form class="time__form">
      <input class="time__input" id="input" type="text" placeholder="Ведіть число">
      <button class="time__bth" id="button" type="submit">
        <svg class="time__svg" width="15" height="15">
          <use href="../svg/icons.svg#icon-search"></use>
        </svg>
      </button>
    </form>
    

    <div class="time__line1"></div>
    <p class="time__text" id="text">0 дн. 00:00:00</p>

  </div>

  <div class="time__line"></div>

</section>