<section class="time">
  <h2 class="time__calculator">Калькулятор часу</h2>
  <div class="time__box">
    <form class="time__form">
      <input type="text" class="time__input" placeholder="Ведіть число" />
      <button type="submit" class="time__bth">
        <svg width="15" height="15" class="time__svg">
          <use href="../svg/icons.svg#icon-search"></use>
        </svg>
      </button>
    </form>

    <div class="time__line1"></div>
    <p class="time__text">3 дн. 15:45:01</p>
  </div>

  <div class="time__line"></div>
</section>
