<section id="5" class="time">
  <h2 class="time__calculator">Калькулятор часу</h2>
  <div class="time__box">
    <form class="time__form">
      <input type="text" class="time__input" id="input" placeholder="Ведіть число" />
      <button type="submit" id="button" class="time__bth">
        <svg width="15" height="15" class="time__svg">
          <use href="../svg/icons.svg#icon-search"></use>
        </svg>
      </button>
    </form>

    <div class="time__line1"></div>
    <p id="text" class="time__text">0 дн. 00:00:00</p>
  </div>

  <div class="time__line"></div>
</section>
