* {
    transition: all 0.3s ease;
}

body {
    font-family: "Montserrat Alternates", serif;
    background-color: $bg-body;
    font-weight: 400;
}

.main {
    background-image: url(../../img/1x/bg/left-bg@1x.webp), url(../../img/1x/bg/right-bg@1x.webp);
    background-repeat: no-repeat, no-repeat;
    background-position: left, right;
    background-size: contain;

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url(../../img/2x/bg/left-bg@2x.webp), url(../../img/2x/bg/right-bg@2x.webp);
    }
}

.backdrop {
    background-color: $light-backdrop;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

body.dark .backdrop {
    background-color: $dark-backdrop;

}

.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.no-scroll {
    overflow: hidden;
}

*::selection {
    background-color: #8ACECF;
    color: $btn-svg-color;
}