.main-container {
    max-width: 1090px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    // outline: 3px dashed darkred;
    background-color: $light-body-bg-color;
}

body.dark .main-container{
    background-color: $dark-body-bg-color;
}

.container {
    max-width: 1120px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    // outline: 3px dashed darkred;
}